
.add-qs-container{
	width: 95%;
	margin: 0 auto;
	max-width: 900px;
	padding-top: 70px;
}

.add-qs-title{
	width: 100%;
	text-align: center;
	height: 100px;
	margin-top: 40px;
	border-bottom: 1px solid #39bded;
	background-color: #fff;

}

.add-qs-title h1{
	font-size: calc(2vw + 10px);
	line-height: 100px;
	color: #5FACFE;
}

.add-qs-inputqs{
	width: 100%;
}

.add-qs-question-block{
	width: 100%;
	max-width: 900px;
	min-height: 200px;
	margin: 40px auto 25px auto;
	text-align: center;
	border-radius: 20px;
	background-color: #5FACFE;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 16px 6px rgba(102,102,102,0.3); 
	box-shadow: 0px 0px 16px 6px rgba(102,102,102,0.3);
	transition: 0.3s;
	overflow: auto;
	opacity: 0.4;
}

.add-qs-question-block-confirmed{
	width: 100%;
	max-width: 900px;
	min-height: 200px;
	margin: 40px auto 25px auto;
	text-align: center;
	border-radius: 20px;
	background-color: #5FACFE;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 16px 6px rgba(102,102,102,0.3); 
	box-shadow: 0px 0px 16px 6px rgba(102,102,102,0.3);
	transition: 0.3s;
	overflow: auto;
	opacity: 1;
}

.add-qs-question-block:hover{
	-webkit-box-shadow: 7px 7px 16px 4px rgba(102,102,102,0.6); 
	box-shadow: 7px 7px 16px 4px rgba(102,102,102,0.6);
	transition: 0.3s;
}

.add-qs-hover:hover{
	opacity: 1;
	transition: 0.3s;
}

.add-qs-question-block p{
	font-size: 40px;
	line-height: 200px;
	user-select: none;
	color: #fff;
}

.add-qs-choose-mc{
	background-color: #5FACFE;
	height: 200px;
	width: calc(50% - 2px);
	border-right: 2px solid white;
	float: left;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	cursor: pointer;

}

.add-qs-choose-mc p{
	font-size: calc(20px + 0.3vw);
}

.add-qs-choose-text{
	background-color: #5FACFE;
	height: 200px;
	width: 50%;
	float: right;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
}

.add-qs-choose-text p{
	font-size: calc(5px + 1.4vw);
}

.add-qs-topbar{
	width: 100%;
	height: 30px;
	padding-top: 10px;
}

.add-qs-trash{
	float: left;
	height: 17px;
	width: 17px;
	width: auto;
	margin-top: 5px;
	cursor: pointer;
}

.add-qs-expand{
	height: 17px;
	width: 17px;
	width: auto;
	float: left;
	padding: 6px 10px 0px 10px;
	cursor: pointer;
}

.add-qs-question-id-input{
	border-radius: 2px;
	padding: 6px 10px;
	border: 1px solid #fff;
	width: 80%;
	max-width: 400px;
	margin-right: 4px;
	font-size: 12px;
	float: left;
	line-height: 12px;
}

.add-qs-question-id-select{
	width: 100%;
	padding: 10px 10px 5px 10px;
	min-height: 60px;
	background-color: #88bef7;
	border-radius: 10px;
}

.add-qs-question-id-select span{
	font-size: 15px;
	color: #fff;
}

.add-qs-question-id-select input{
	line-height: 12px;
	border-radius: 2px;
	padding: 3px 7px;
	border: 1px solid #fff;
	width: 40px;
	max-width: 400px;
	text-align: center;
	margin-right: 4px;
	font-size: 12px;
	margin-bottom: 7px;
}

.add-qs-question-id-select select{
	margin-right: 4px;
	height: 27px;
	border-radius: 3px;
	padding: 3px 4px;
	-moz-appearance: none;
}

.add-qs-question-space{
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	min-height: 200px;
	text-align: left;
}

.add-qs-question-space p{
	font-size: 15px;
	line-height: 25px;
	display: block;
	color: #fff;
	cursor: default;
}

.add-qs-question-label{
	font-size: calc(20px + 0.3vw);
	line-height: 40px;
	float: left;
	color: #fff;
}

.add-qs-question-input{
	padding: 10px 10px;
	width: calc(100% - 20px);
	border-radius: 5px;
	line-height: 25px;
	font-size: 15px;
	height: 25px;
	resize: none;
	overflow-y:hidden;
	display: block;
}

.add-qs-latex-conversion{
	padding: 0px 0px 0px 10px;
	color: #000 !important;
	margin-bottom: 5px;
	min-height: 30px;
	background-color: #88bef7;
	opacity: 0.7;
	cursor: default;
	border-radius: 4px;
	overflow-wrap: break-word;
	width: calc(100% - 10px);
}

.add-qs-add-sub-q{
	height: 50px;
	width: calc(60px + 20%);
	background-color: #fff;
	border-radius: 7px;
	margin: 20px auto;
	cursor: pointer;
	text-align: center;
}

.add-qs-add-sub-q p{
	line-height: 50px;
	color: #5FACFE !important;
	font-size: calc(10px + 0.5vw);
	cursor: pointer;
}

.add-qs-sub-question-space{
	width: calc(95% - 20px;);
	min-height: 100px;
	padding-left: calc(20px + 5%);
	margin-top: 20px;
}

.add-qs-sub-question-topbar{
	width: 100%;
	height: 25px;
	padding-top: 20px;
}

.add-qs-sub-question-topbar img{
	float: right;
	height: 17px;
	width: 17px;
	width: auto;
	margin-top: 5px;
}

.add-qs-ms-boundary{
	min-height: 3px;
	max-width: 700px;
	width: 90%;
	border-bottom: solid 2px white;
	margin: 0px auto 30px auto;
}

.add-qs-ms-title{
	text-align: center;
	width: 100%;
}

.add-qs-ms-title p{
	font-size: calc(20px + 1vw);
}

.add-qs-ms-answer-block{
	float: left;
	margin: 20px 0px;
	min-height: 100px;
	max-width: 800px;
	width: calc(85% - 5px);
}

.add-qs-ms-credit-block{
	float: right;
	margin: 20px 0px;
	max-width: 150px;
	width: 15%;
	min-height: 100px;
}

.add-qs-ms-credit-label{
	font-size: calc(15px + 1vw);
	line-height: 40px;
	float: left;
	color: #fff;
}


.add-qs-ms-answer-label{
	font-size: calc(20px + 0.3vw);
	line-height: 40px;
	float: left;
	color: #fff;
}

.add-qs-ms-answer-input{
	padding: 10px 10px;
	width: calc(100% - 20px);
	border-radius: 5px;
	line-height: 25px;
	font-size: 15px;
	height: 25px;
	resize: none;
	overflow-y:hidden;
	display: block;
}

.add-qs-ms-credit-input{
	padding: 10px 10px;
	width: calc(100% - 20px);
	border-radius: 5px;
	line-height: 25px;
	font-size: 15px;
	height: 25px;
	resize: none;
	overflow-y:hidden;
	display: block;
}

.add-qs-question-id-project{
	float: left;
	color: #dfdfdf !important;
}

.add-qs-ms-add-credit{
	margin: 5px 0px;
	height: 50px;
	text-align: center;
	width: 100%;
	border-radius: 4px;
	background-color: #fff;
}

.add-qs-ms-add-credit p{
	line-height: 50px;
	color: #5FACFE !important;
	font-size: calc(5px + 0.7vw);
	cursor: pointer;
}

.add-qs-ms-delete-credit{
	background-color: #fc2b2b;
	margin: 5px 0px;
	height: 50px;
	text-align: center;
	width: 100%;
	border-radius: 4px;
}

.add-qs-ms-delete-credit p{
	line-height: 50px;
	color: #fff !important;
	font-size: calc(4px + 0.7vw);
	cursor: pointer;
}

.add-qs-submit-button{
	max-width: 900px;
	width: 100%;
	padding: 5px 0px;
	height: 50px;
	border-radius: 6px;
	background-color: #fff;
	font-size: calc(20px + 0.4vw);
	color: #5FACFE;
}

.add-qs-image-preview{
	max-width: 520px;
	max-height: 520px;
}

.add-qs-drag-on{
	transition: 0.3s;
	opacity: 0.6;
}

.add-qs-image-icons{
	float: left;
	height: 17px;
	width: 17px;
	width: auto;
	margin: 10px;
	cursor: pointer;
	position: relative;
}

.add-qs-image-tooltip{
	position: absolute;
	z-index: 3;
	top: -5px;
	left: 105%;
	transition: 0.3s;
	max-width: 520px;
	max-height: 520px;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
}

.add-qs-ms-sub-question-space{
	width: calc(95% - 20px;);
	min-height: 100px;
	padding-left: calc(20px + 5%);
}

.add-qs-invalid-input{
	border: 2px solid #f00 !important;
}
