body::-webkit-scrollbar {
	display: none;
}

label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.css-checkbox {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px;
	padding:0;
	border:0;
}

.css-label {
	padding-left:20px;
	height:15px; 
	display:block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
	margin: 7px 4px;
	background-image:url("/static/images/checkbox.png");
}

.css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

.css-checkbox.lrg + label.css-label.lrg {
	padding-left:22px;
	height:16px; 
	display:inline-block;
	line-height:16px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

.css-checkbox.lrg:checked + label.css-label.lrg{
	background-position: 0 -16px;
}

.generate-filter{
	width: 20%;
	background-color: #39bded;
	float: left;
	padding-top: 70px;
	padding-left: 20px;
}

.generate-filter h1{
	font-size: calc(20px + 0.6vw);
	color: #fff;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.generate-filter h2{
	font-size: calc(10px + 0.6vw);
	margin: 6px 0px;
}

.generate-optional-filter h2{
	color: #888;
}

.generate-area{
	width: calc(55% - 80px);
	padding: 70px 30px 0px 30px;
	float: left;
	overflow-y: auto;
	-ms-overflow-style: none;
}

.generate-area::-webkit-scrollbar {
	display: none;
}

.generate-result-space{
	width: 100%;
	min-height: 100px;
	max-width: 800px;
	overflow: auto;
	position: relative;
}

.generate-result-box{
	width: 90%;
	float: right;
	border-bottom: 1px solid #bbb;
	padding: 20px;
	min-height: 100px;
	margin-bottom: 20px;
}

.generate-question-text-view{
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	font-family: arial;
	width: 100%;
	white-space: nowrap;
}

.generate-question-details{
	float: left;
	width: 50%;
	margin-bottom: 20px;
}

.generate-question-details p{
	color: #5FACFE;
	margin-top: 10px;
	font-size: 15px;
}

.generate-question-details p span{
	color: #999;
}

.generate-question-details-right{
	float: right;
	width: 50%;
	margin-bottom: 47px;
}

.generate-question-details-right p{
	color: #5FACFE;
	margin-top: 10px;
	font-size: 15px;
}

.generate-question-details-right p span{
	color: #999;
}


.generate-question-image{
	width: 50%;
	float: right;
	min-height: 243px;
	margin-bottom: 20px;
}

.generate-question-image p{
	font-size: 15px;
	color: #777;
	margin-top: 10px;
}

.generate-question-image img{
	max-width: 100%;
	height: auto;
}

.generate-question-extend-sub-question{
	text-decoration: underline;
	cursor: pointer;
	font-size: 20px;
	color: #003249;
	margin-bottom: 20px;
}

.generate-question-sub-question-space{
	min-height: 100px;
	width: 100%;
	overflow: auto;
}


.generate-question-sub-question-box{
	width: calc(100% - 30px);
	float: right;
	min-height: 100px;
	border-top: 1px solid #bbb;
}

.generate-preview{
	float: right;
	width: 20%;
	padding-top: 70px;
	border-left: 1px solid #5FACFE;
}

.generate-preview h1{
	text-align: center;
	color: #5FACFE;
	font-size: calc(20px + 0.2vw);
	margin: 15px 0px;
}

.generate-preview p{
	text-align: right;
	font-size: calc(10px + 0.2vw);
	margin: 5px 10px;
	color: #5FACFE;
}

.generate-preview-id{
	height: calc(100% - 177px);
}

.generate-question-thumbnail{
	height: 40px;
	width: 100%;
	border-top: 1px solid #5FACFE;
}

.generate-question-thumbnail:last-child{
	border-bottom: 1px solid #5FACFE;
}

.generate-preview-statistics{
	color: #000;
}

.generate-question-thumbnail span{
	line-height: 40px;
	margin-left: 7px;
	float: left;
	color: #5FACFE
}

.generate-question-thumbnail img{
	float: right;
	height: 16px;
	width: 16px;
	margin-top: 12px;
	margin-right: 10px;
	cursor: pointer;
}

.generate-proceed{
	height: 70px;
	background-color: #9cbff7;
	width: 100%;
}

.generate-proceed p{
	font-size: calc(20px + 0.5vw);
	color: #fff;
	text-align: center;
	line-height: 70px;
}



