.sort-container {
	display: flex;
	height: 100%;
	background-color: #424874;
	flex-direction: column;
	width: 400px;
	border-radius: 4px;
	margin-left: 15px;
	top: 90px;
	position: relative;
	padding-top: 20px;
}

.sort-container p {
	text-align: center;
	font-size: 30px;
	color: #fff;
}

.sort-container p span {
	color: #84A9AC;
}

.sort-info {
	margin: 7px 7px;
}

.sort-info p {
	text-align: right;
	background-color: #424874;
	color: #fff;
	font-size: 20px;
}

.sort-items::-webkit-scrollbar {
	display: none;
}

.question-thumbnail {
	height: 40px;
	width: 100%;
	border-bottom: 1px solid #204051;
	background-color: #F4EEFF;
	cursor: pointer;
}

.question-thumbnail:first-child {
	border-top: 1px solid #204051;
}

.question-thumbnail span {
	line-height: 40px;
	margin-left: 7px;
	float: left;
	color: #3B6978;
}

.question-thumbnail img {
	float: right;
	height: 16px;
	width: 16px;
	margin-top: 12px;
	margin-right: 10px;
	cursor: pointer;
}

.main {
	float: right;
	width: calc(60% - 40px);
	position: relative;
	text-align: center;
}

.main button {
	width: 150px;
	height: 50px;
	margin-top: 20px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	background-color: #5FACFE;
	color: #fff;
	cursor: pointer;
}

.document {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 80%;
	width: 70%;
	transform: translate(-50%, -50%);
}

.document object {
	height: 100%;
	width: 100%;
}