body::-webkit-scrollbar {
	display: none;
}

label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.css-checkbox {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px;
	padding:0;
	border:0;
}

.css-label {
	padding-left:20px;
	height:15px; 
	display:block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
	margin: 7px 4px;
	background-image:url("/static/images/checkbox.png");
}

.css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

.css-checkbox.lrg + label.css-label.lrg {
	padding-left:22px;
	height:16px; 
	display:inline-block;
	line-height:16px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

.css-checkbox.lrg:checked + label.css-label.lrg{
	background-position: 0 -16px;
}


.search-filter{
	width: 20%;
	background-color: #39bded;
	float: left;
	padding-top: 70px;
	padding-left: 20px;
}

.search-filter h1{
	font-size: calc(20px + 0.6vw);
	color: #fff;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.search-filter h2{
	font-size: calc(10px + 0.6vw);
	margin: 6px 0px;
}

.search-filter button{
	border-radius: 3px;
	border: 1px solid #5FACFE;
	color: #5FACFE;
}

.search-filter-by-year{
	width: 50px;
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	border: 2px solid #eee;
	border-radius: 3px;
}

.search-area{
	width: calc(80% - 85px);
	padding: 70px 30px 0px 30px;
	overflow-y: auto;
	-ms-overflow-style: none;
}

.search-area::-webkit-scrollbar {
	display: none;
}

.search-main{
	margin-top: 20px;
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
}

.search-main h1{
	color: #5FACFE;
	font-size: calc(30px + 0.6vw);
}

.search-main input{
	width: 85%;
	max-width: 640px;
	line-height: 20px;
	font-size: 20px;
	padding: 10px 10px;
	margin-top: 10px;
	border-radius: 5px;
	float: left;
	border: 2px solid #e5e5e5;
}

.search-main button{
	width: calc(10% - 10px);
	max-width: 110px;
	margin-top: 10px;
	margin-left: 10px;
	height: 46px;
	border-radius: 5px;
	float: left;
	background-color: #5FACFE;
}

.search-main button img{
	height: 20px;
	width: 20px;
	text-align: center;
	justify-content: center;
	padding-top: 3px;
}

.search-result-space{
	width: 100%;
	min-height: 100px;
	max-width: 800px;
	overflow: auto;
	position: relative;
}

.search-result-box{
	width: 90%;
	float: right;
	border-top: 1px solid #bbb;
	padding: 20px;
	min-height: 100px;
	margin-bottom: 20px;
}

.search-question-text-view{
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	font-family: arial;
	width: 100%;
	white-space: nowrap;
}

.search-question-details{
	float: left;
	width: 50%;
	margin-bottom: 20px;
}

.search-question-details p{
	color: #5FACFE;
	margin-top: 10px;
	font-size: 15px;
}

.search-question-details p span{
	color: #999;
}

.search-question-details-right{
	float: right;
	width: 50%;
	margin-bottom: 47px;
}

.search-question-details-right p{
	color: #5FACFE;
	margin-top: 10px;
	font-size: 15px;
}

.search-question-details-right p span{
	color: #999;
}


.search-question-image{
	width: 50%;
	float: right;
	min-height: 243px;
	margin-bottom: 20px;
}

.search-question-image p{
	font-size: 15px;
	color: #777;
	margin-top: 10px;
}

.search-question-image img{
	margin-top: 10px;
	max-height: 240px;
	max-width: 100%;
	width: auto;
}

.search-question-extend-sub-question{
	text-decoration: underline;
	cursor: pointer;
	font-size: 20px;
	color: #003249;
	margin-bottom: 20px;
}

.search-question-sub-question-space{
	min-height: 100px;
	width: 100%;
	overflow: auto;
}


.search-question-sub-question-box{
	width: calc(100% - 30px);
	float: right;
	min-height: 100px;
	border-top: 1px solid #bbb;
}


