{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel='stylesheet' href='/static/styles/search.css'>
{% endblock %}

{% block headerContent %}
<button class="nav-button" id="delete_selected_questions">Delete</button>
<button class="nav-button" id="generate_selected_questions">Generate Paper</button>
<p class="nav-counting-hint">Selected: <span id="question_count">X</span> Questions, <span
		id="sub_question_count">X</span> Sub-Questions, <span id="mark_count">X</span> Marks</p>
{% endblock %}

{% block content %}
<div class="search-filter">
	<h1>Filter Search Result</h1>
	<div class="filter-season">
		<h2>Season:</h2>
		<input type="checkbox" id="March" class="diy-checkbox">
		<label for="March"><span>March</span></label>
		<input type="checkbox" id="May-June" class="diy-checkbox">
		<label for="May-June"><span>May - June</span></label>
		<input type="checkbox" id="November" class="diy-checkbox">
		<label for="November"><span>October - November</span></label>
	</div>
	<h2 style="margin-bottom: 10px;">Year:</h2>
	<span><input type="text" id="year-start" class="search-filter-by-year"><span> to </span><input type="text"
			id="year-end" class="search-filter-by-year"></span>
	<button>Apply</button>
	<h2 style="margin-top: 14px;">Subject:</h2>
	<input type="checkbox" id="subject-addmath" class="diy-checkbox">
	<label for="subject-addmath"><span>Additional Math</span></label>
	<div class="filter-paper">
		<h2>Paper:</h2>
		<input type="checkbox" id="paper-1" class="diy-checkbox">
		<label for="paper-1"><span>1</span></label>
		<input type="checkbox" id="paper-2" class="diy-checkbox">
		<label for="paper-2"><span>2</span></label>
	</div>
	<div class="filter-chapter">
		<h2>Chapter:</h2>
		<input type="checkbox" id="chapter-1" class="diy-checkbox">
		<label for="chapter-1"><span>1 - Functions</span></label>
		<input type="checkbox" id="chapter-2" class="diy-checkbox">
		<label for="chapter-2"><span>2 - Quadratic Functions</span></label>
		<input type="checkbox" id="chapter-3" class="diy-checkbox">
		<label for="chapter-3"><span>3 - Equations, Inequalites and Graphs</span></label>
		<input type="checkbox" id="chapter-4" class="diy-checkbox">
		<label for="chapter-4"><span>4 - Indices and Surds</span></label>
		<input type="checkbox" id="chapter-5" class="diy-checkbox">
		<label for="chapter-5"><span>5 - Factors of Polynomials</span></label>
		<input type="checkbox" id="chapter-6" class="diy-checkbox">
		<label for="chapter-6"><span>6 - Simultaneous Equations</span></label>
		<input type="checkbox" id="chapter-7" class="diy-checkbox">
		<label for="chapter-7"><span>7 - Logarithmic and Exponential Functions</span></label>
		<input type="checkbox" id="chapter-8" class="diy-checkbox">
		<label for="chapter-8"><span>8 - Straight Line Graphs</span></label>
		<input type="checkbox" id="chapter-9" class="diy-checkbox">
		<label for="chapter-9"><span>9 - Circular Measure</span></label>
		<input type="checkbox" id="chapter-10" class="diy-checkbox">
		<label for="chapter-10"><span>10 - Trigonometry</span></label>
		<input type="checkbox" id="chapter-11" class="diy-checkbox">
		<label for="chapter-11"><span>11 - Permutations and Combinations</span></label>
		<input type="checkbox" id="chapter-12" class="diy-checkbox">
		<label for="chapter-12"><span>12 - Series</span></label>
		<input type="checkbox" id="chapter-13" class="diy-checkbox">
		<label for="chapter-13"><span>13 - Vectors in Two Dimensions</span></label>
		<input type="checkbox" id="chapter-14" class="diy-checkbox">
		<label for="chapter-14"><span>14 - Differentiation and Integration</span></label>
	</div>
	<div class="filter-difficulty">
		<h2>Difficulty:</h2>
		<input type="checkbox" id="Easy" class="diy-checkbox">
		<label for="Easy"><span>Easy</span></label>
		<input type="checkbox" id="Medium" class="diy-checkbox">
		<label for="Medium"><span>Medium</span></label>
		<input type="checkbox" id="Difficult" class="diy-checkbox">
		<label for="Difficult"><span>Difficult</span></label>
	</div>
</div>
<div class="search-area">
	<div class="search-main">
		<h1 class="search-ti">Search</h1>
		<input type="text" id="input-search" placeholder="Search Question ID or Question Content"></input>
		<button id="submit-search"><img src="/static/images/icons/search-solid.svg"></button>
	</div>
	{% if error_message %}
	<p class="search-empty-result-hint">{{ error_message }}</p>
	{% else %}
	<div class="display-settings">
		<input type="checkbox" id="show_sub_questions" class="diy-checkbox display-settings-checkbox">
		<label for="show_sub_questions"><span>Always Show Sub Questions</span></label>
		<input type="checkbox" id="show_marks" class="diy-checkbox display-settings-checkbox">
		<label for="show_marks"><span>Always Show Mark Scheme</span></label>
		</br>
		<img src="/static/images/icons/sort-solid.svg" height="15px" width="15px" style="margin-left: 5px;"
			id="sort_by_year"><span>Sort By Year</span>
		<img src="/static/images/icons/sort-solid.svg" height="15px" width="15px" id="sort_by_mark"><span>Sort By Max
			Mark</span>
	</div>
	{% for i in questions %}
	<div class="search-result-space">
		<input type="checkbox" id="{{ i.id_code }}" class="diy-checkbox">
		<label for="{{ i.id_code }}" style="display: inline"></label>
		<div class="search-result-box">
			<p class="search-question-text-view">{{ i.text }} </p>
			{% if i.has_image %}
			<div class="search-question-details">
				<p>Question ID: <span>{{ i.id_code }}</span></p>
				<p>Subject: <span>{{ i.attr_subject }}</span></p>
				<p>Season: <span>{{ i.attr_season }}</span></p>
				<p>Year: <span>{{ i.attr_year }}</span></p>
				<p>Paper: <span>{{ i.attr_paper }}</span></p>
				<p>Question: <span>{{ i.attr_question }}</span></p>
				<p>Max Mark: <span>{{ i.attr_maxMark }}</span></p>
				<p>Chapter: <span>{{ i.attr_chapter }}</span></p>
				<p>Difficulty: <span>{{ i.attr_difficulty }}</span></p>
				<p>Time Zone: <span>{{ i.attr_timeZone }}</span></p>
			</div>
			<div class="search-question-image">
				<p>Question Image:</p>
				<img src="{{ i.get_image_path() }}"></img>
			</div>
			{% else %}
			<div class="search-question-details">
				<p>Question ID: <span>{{ i.id_code }}</span></p>
				<p>Subject: <span>{{ i.attr_subject }}</span></p>
				<p>Season: <span>{{ i.attr_season }}</span></p>
				<p>Year: <span>{{ i.attr_year }}</span></p>
				<p>Paper: <span>{{ i.attr_paper }}</span></p>
			</div>
			<div class="search-question-details-right">
				<p>Question: <span>{{ i.attr_question }}</span></p>
				<p>Max Mark: <span>{{ i.attr_maxMark }}</span></p>
				<p>Chapter: <span>{{ i.attr_chapter }}</span></p>
				<p>Difficulty: <span>{{ i.attr_difficulty }}</span></p>
				<p>Time Zone: <span>{{ i.attr_timeZone }}</span></p>
			</div>
			{% endif %}
			<div class="question-operation">
				<button class="show-mark-scheme">Mark Scheme</button>
				{% if i.has_subquestion %}
				<button class="show-sub-question">Sub Questions</button>
				{% endif %}
			</div>
			<div class="mark-scheme">
				{% for j in marks %}
				{% if i.id_code == j.id_code %}
				<div class="component-marks">
					<div class="answer-container">
						<div class="answer-text">
							<p>{{ j.text }}</p>
						</div>
						<div class="answer-credit">
							<p>{{ j.mark }}</p>
						</div>
						{% if j.has_image %}
						<div class="answer-image"><img src="/static/images/icons/file-image-solid-blue.svg"></div>
						{% endif %}
					</div>
					<input type="checkbox" id="{{ j.id }}" class="diy-checkbox">
					<label for="{{ j.id }}"></label>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			{% if i.has_subquestion %}
			{% for j in sub_questions %}
			{% if i.id == j.main_question_id %}
			<div class="search-question-sub-question-space">
				<input type="checkbox" id="{{ j.id_code }}" class="diy-checkbox">
				<label for="{{ j.id_code }}"></label>
				<div class="search-question-sub-question-box" style="margin-left: 3px">
					<p class="search-question-text-view" style="margin-top: 20px">{{ j.text }} </p>
					<div class="search-sub-question-details">
						<p>Sub Question # <span>{{ j.attr_subQuestion }}</span></p>
						<p>Question ID: <span>{{ j.id_code }}</span></p>
						<p>Max Mark: <span>{{ j.attr_maxMark }}</span></p>
						<p>Chapter: <span>{{ j.attr_chapter }}</span></p>
						<p>Difficulty: <span>{{ j.attr_difficulty }}</span></p>
					</div>
					{% if j.has_image %}
					<div class="search-question-image">
						<p>Question Image:</p>
						<img src="{{ j.get_image_path() }}"></img>
					</div>
					{% endif %}
					<div class="mark-scheme">
						{% for k in marks %}
						{% if j.id_code == k.id_code %}
						<div class="component-marks" style="flex-basis: 100%">
							<div class="answer-container">
								<div class="answer-text">
									<p>{{ k.text }}</p>
								</div>
								<div class="answer-credit">
									<p>{{ k.mark }}</p>
								</div>
								{% if k.has_image %}
								<div class="answer-image"><img src="/static/images/icons/file-image-solid-blue.svg">
								</div>
								{% endif %}
							</div>
							<input type="checkbox" id="{{ k.id }}" class="diy-checkbox">
							<label for="{{ k.id }}"></label>
						</div>
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
			{% endif %}
		</div>
	</div>
	{% endfor %}
	<div class="page-action">
		<p><span class="page-prev page-act">Prev</span> Page <span class="current-page">{{ current_page }}</span> of
			<span class="total-page">{{ total_page }} </span><span class="page-next page-act">Next</span></p>
	</div>
	{% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/libs/mathjax/tex-chtml.js" id="MathJax-script" async></script>
<script src="/static/libs/js.cookie.js"></script>
<script type="text/javascript" src="/static/scripts/search.js"></script>
{% endblock %}